<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PicoYPlacaDB"
             connectionString="Data Source=DRAP-MSI;Initial Catalog=PicoYPlacaDB;User ID=sa;Password=vive2504;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
